/////// ******************************* For Both Edit Expense Page/Add Expense/ Expense Form ****************************//////////////

.add-expense__title, .edit-expense__title {
    @include form-title-styles;
}

.expense-form__container {
    @include form-container-styles;
}

.expense-form {
    @include form-styles;
    & > * {
        margin: 0;
        width: 100%;
        background: transparent;
        border: none;
        box-shadow: none;
    }
}

.expense-form__separator {
    align-items: center;
    width: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: left;
    label {
        font-size: 1.5rem;
        color: lighten($primary, 30%);
        width: 7%;
       
    }
    input {
        @include input-default-remove;
        @include input-styles;
        &::placeholder {
            @include expense-form-input-placeholder;
        }
        &:focus {
            @include expense-form-input-focus;
        }
    }
}


.expense-form__btn {
    @include submit-button;
    width: 92.5%;
}

.expense-form__btn:focus {
    background-color: lighten($green, 10%);
    @include button-click;
    outline: none;
}

.expense-error {
    color: $secondary;
    animation: error-fade 3s ease-out forwards;
    margin: auto;
    width: 100%;
}

@keyframes error-fade {
    0% {opacity: 1;}
    100% {opacity: 0;}
}


//////////// Edit Expense

.edit-expense__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    margin: auto;
}

.edit-expense__remove-btn {
    @include button-defaults;
    margin: 1rem 1.65rem 1rem auto;
    background: $secondary;
    border-radius: 2px;
}

.edit-expense__remove-btn:active {
    @include button-click;
}
