/////// ******************************* For Both Edit Expense Page/Add Expense/ Expense Form ****************************//////////////

.add-expense__title, .edit-expense__title {
    text-align: center;
    color: white;
}

.expense-form__container {
    margin: auto;
    width: 90%;
    max-width: 350px;
}

.expense-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    & > * {
        margin: 0;
        width: 100%;
        background: transparent;
        border: none;
        box-shadow: none;
    }
}

.expense-form__separator {
    align-items: center;
    width: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: left;
    label {
        font-size: 1.5rem;
        color: lighten($primary, 30%);
        width: 7%;
       
    }
    input {
        @include input-default-remove;
        color: white;
        padding: 1rem 0 .5rem 1rem;
        width: 100%;
        margin: 0 auto .7rem .5rem;
        border-bottom: .8px solid lighten($secondary, 10%);
        border-radius: 0;
        &::placeholder {
            @include expense-form-input-placeholder;
        }
        &:focus {
            box-shadow: 0px 1px 0 0 $secondary;
        }
    }
}



.expense-form__btn {
    background-color: $green;
    border-radius: 2px;
    color: $white;
    font-family: $main-font;
    font-weight: 800;
    letter-spacing: .1rem;
    margin: 1rem 0 0 auto;
    padding: 1rem;
    transition: background-color 1s ease;
    width: 92.5%;
}

.expense-form__btn:focus {
    background-color: lighten($green, 10%);
    @include button-click;
    outline: none;
}

.expense-error {
    color: $secondary;
    animation: error-fade 3s ease-out forwards;
    margin: auto;
    width: 100%;
}

@keyframes error-fade {
    0% {opacity: 1;}
    100% {opacity: 0;}
}


//////////// Edit Expense

.edit-expense__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    margin: auto;
}

.edit-expense__remove-btn {
    @include button-defaults;
    margin: 1rem 1.65rem 1rem auto;
    background: $secondary;
    border-radius: 2px;
}

.edit-expense__remove-btn:active {
    @include button-click;
}
