.expense-summary__container {
    display: flex;
    color: white;
    justify-content: space-around;
}

.expense-summary__number {
    color: $green;
}

.expense-summary {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    width: 25%;
    &.is-total {
        display: none;
    }
}

.budget-negative {
    color: darken($secondary, 15%);
}

@media (min-width: $desktop-breakpoint) {
    .expense-summary {
    font-size: 1.5rem;
    height: auto;
    text-align: center;
    width: 20%;
    &.is-total {
        display: block;
    }
}
}