.expense-list {
    margin: 0;
}

.no-expenses {
    text-align: center;
    color: white;
    font-weight: 900;
}

.expense {
    align-items: center;
    background: lighten($light-primary, 5%);
    border-radius: 0 100px 100px 0;
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem;
    padding: 0rem 0 0rem 2rem;
    width:90%;
}

.expense__details {
    align-items: center;
    display: flex;
    justify-content: center;
}

.expense__amount {
    font-weight: 800;
    color: $secondary;
    
}

.expense__description {
    color: white;
    margin-left: 1.4rem;
}

.expense__date {
    color: lighten($light-primary, 20%);
    font-size: 1.2rem;
    margin-right: 2rem;
}