.header__container {
    margin: 0;
    padding: 0;
}

header {
    color: $white;
}

.mobile-menu {
    font-size:2rem;
    padding: 1rem;
    width: 5%;
}

.mobile-menu__icon {
    color: $secondary;
    position: relative;
    
}

.header__title {
    font-weight: 900;
    letter-spacing: .3rem;
    margin-top: .5rem;
    text-align: center;
    text-transform: uppercase;
}


.header__desktop-nav {
    display: none;
}

.header__mobile-nav {
    background: lighten($primary, 20%);
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: -100%;
    position: absolute;
    top: 9.5rem;
    transition: .5s left ease;
    width: 100%;
    z-index: 10;
}

.header__mobile-nav.show {
    left: 0%;
}

.header__mobile-nav > * {
    padding: 2rem 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin: 0;
}

.logout-btn {
    display: none;
}

.nav-link {
    font-weight: 200;
}

.nav-link.is-active {
    color: $secondary;
    font-weight: 800;
}

.log-out {
    background: $secondary;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 1rem;
    margin: 0 0 0 auto;
}

@media (min-width: $desktop-breakpoint) {
    .header__desktop-nav {
        background: $light-primary;
        width: 100%;
        display: flex;
    }
    .logout-btn {
        display: flex;
        background: none;
        border: none;
        box-shadow: none;
        color: white;
    }
    .header__title {
        margin-top: 0;
        padding: 2rem;
    }
    .mobile-menu {
        display: none;
    }
    .header__mobile-nav {
        display: none;
    }
}