.log-in {
    align-items: center;
    background: rgba(254,184,66,1);
    background: -moz-linear-gradient(top, rgba(254,184,66,1) 0%, rgba(250,189,103,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,184,66,1)), color-stop(100%, rgba(250,189,103,1)));
    background: -webkit-linear-gradient(top, rgba(254,184,66,1) 0%, rgba(250,189,103,1) 100%);
    background: -o-linear-gradient(top, rgba(254,184,66,1) 0%, rgba(250,189,103,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,184,66,1) 0%, rgba(250,189,103,1) 100%);
    background: linear-gradient(to bottom, rgba(254,184,66,1) 0%, rgba(250,189,103,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb842', endColorstr='#fabd67', GradientType=0 );
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.log-in__container {
    background: $primary;
    border-radius: 9px;
    height: 40vh;
    width: 80%;
    -webkit-box-shadow: 0px 16px 71px -5px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 16px 71px -5px rgba(0,0,0,0.37);
    box-shadow: 0px 16px 71px -5px rgba(0,0,0,0.37);
}

.log-in__text__container {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
}

.log-in__text.is--title {
    font-size: 3.2rem;
    font-weight: 900;
    letter-spacing: .3rem;
    margin-bottom: 0px;
    text-align: center;
}

.log-in__text.is--subtitle {
    font-weight: 200;
    margin-top: .5rem;
}

.log-in__btn {
    background: $secondary;
    border: none;
    border-radius: 0 0 9px 9px;
    box-shadow: none;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .1rem;
    height: 15%;
    margin-top:.3rem;
    outline: none;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    width: 100%;
}

.log-in__btn:focus {
    background: lighten($secondary, 5%);
    -webkit-box-shadow: inset 0px 0px 19px -4px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 19px -4px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 19px -4px rgba(0,0,0,1);
}