* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    background: rgba(254,184,66,1);
    background: -moz-linear-gradient(top, rgba(254,184,66,1) 0%, rgba(250,189,103,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,184,66,1)), color-stop(100%, rgba(250,189,103,1)));
    background: -webkit-linear-gradient(top, rgba(254,184,66,1) 0%, rgba(250,189,103,1) 100%);
    background: -o-linear-gradient(top, rgba(254,184,66,1) 0%, rgba(250,189,103,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,184,66,1) 0%, rgba(250,189,103,1) 100%);
    background: linear-gradient(to bottom, rgba(254,184,66,1) 0%, rgba(250,189,103,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb842', endColorstr='#fabd67', GradientType=0 );
}

body {
    -webkit-box-shadow: 0px 0px 58px -5px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 58px -5px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 58px -5px rgba(0,0,0,0.31);
    background: $primary;
    font-family: 'Nunito Sans', sans-serif;
    font-size: $medium-size;
    margin: 0 auto;
    max-width: 1000px;
    min-height: 100vh;
    min-width: 300px;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    color: green;
    font-weight: bold;
}


.nav-link {
    margin: 10px;
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}