// Colors
$background: #0e0e0e;
$mid-gray: #313131;
$light-gray: #393939;
$white: #D9D9D9;
$green: #53BA6F;

//Spacing 
$s-size: 1.2rem;
$medium-size: 1.6rem;
$large-size: 3.2rem;
$xl-size: 4.8rem;

//Breakpoints 
$desktop-breakpoint: 45rem;

//Mixins
@mixin button-click {
    background: darken($bright-blue, 10%);
    box-shadow: inset 0px 0px 1px 1px black;
}