// Colors
$background: #FFB942;
$primary: #21264B;
$secondary: #FF155B;
$white: #ffffff;
$green: #52BB55;
$light-primary: #1F2D5B; 

//Spacing 
$s-size: 1.2rem;
$medium-size: 1.6rem;
$large-size: 3.2rem;
$xl-size: 4.8rem;

//Breakpoints 
$desktop-breakpoint: 45rem;

//Font
$main-font: 'Nunito Sans', sans-serif;

//Mixins
@mixin button-click {
    background: darken($bright-blue, 10%);
    box-shadow: inset 0px 0px 1px 1px black;
}

@mixin input-default-remove {
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
}

@mixin expense-form-input-placeholder {
    color: lighten($primary, 30%);
    font-family: $main-font;
    font-weight: 600;
}

@mixin button-click {
    -webkit-box-shadow: inset 0px 0px 19px -4px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 19px -4px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 19px -4px rgba(0,0,0,1);
}

@mixin button-defaults {
    background: none;
    border: none;
    box-shadow: none;
    padding: 10px 1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    font-family: $main-font;
    outline: none;
}